body, html{ 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--MainAppBackground);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Form-Wrapper::before{
  content: "";
  position: absolute;
  

  z-index: -5;

  width: 60rem;
  height: 60rem;
  
  top: -30rem;
  left: -40rem;
  
  rotate: 45deg;
  overflow: hidden;
  background-color: var(--InputPrimaryColor);
}


.Form-Wrapper {
  position: relative;
  overflow: hidden;
  
  display: flex;

  flex-direction: column;
  min-height: 46.375rem;
  width: 47.1875rem;
  background-color: var(--SideBarBackground);
  border-radius: 0.9375rem;
  filter: drop-shadow(0.9375rem 0.9375rem 0.9375rem rgba(0, 0, 0, 0.25)); /* Shadow also transparent */
  .Form{
    flex: 1;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
   
    .Input-Container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    
      
      .Input-Login:hover{ 
        label{ 
          color: lightblue;
        }
        input{
          border: 1px solid;
          box-sizing: border-box;
        }
      }

      .Input-Login{
        display: flex;
        flex-direction: column;
        transition: all 0.15s ease-in-out;
        label{
          font-size: 1.5rem;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
        input{ 
          width: 32.5rem;
          height: 3.625rem;

          background-color: var(--MainButtonBackground);
          border: none;
          border-radius: 0.3125rem;
          
          padding: 0.5rem;


          outline: none;
          font-size: 1.25rem;
          color: lightgray;
        }

      }
    }


  }
  .Button-Login-Container{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 18.8125rem;
    height: fit-content;

    button{ 
      display: flex;
      justify-content: center;
      align-items: center;

      width: 18.8125rem;
      height: 3.625rem;

      font-size: 1.5rem;
      font-weight: 700;
      color: white;

      background-color: var(--MainButtonBackground);
      border: none;
      border-radius: 0.3125rem;

    
      transition: all 0.1s ease-in-out;
    }
    button:hover{ 
      cursor: pointer;
      background-color: var(--MainBorderColor);
    }
    h3{
      font-size: 1.2rem;
      font-weight: 700;
      color: white;
      .Link{
        text-decoration: none;
        color: white;
      }
    }
    h3:hover{
      cursor: pointer;

    }

  }

}





